<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <div id="navbar">
      <h4>Hello I am working</h4>

      <div id="theme"><i class="fa-regular fa-moon"></i> Dark Mode</div>
    </div>
    <div class="container">
      <div class="filter-search">
        <button id="back-btn">
          <i class="fa-solid fa-arrow-left"> </i> Back
        </button>
      </div>
      <div class="mid-sec">
        <img id="dtl-flag" />
        <div class="dtl-info">
          <div class="dtl-info-sec">
            <h3 id="dtl-country-name"></h3>
            <div class="info-sec">
              <div class="dtl-info-sec1">
                <p>Native Name: <span id="dtl-native-name"></span></p>
                <p>Population: <span id="dtl-pop"></span></p>
                <p>Region: <span id="dtl-reg"></span></p>
                <p>Sub Region: <span id="dtl-subreg"></span></p>
                <p>Capital: <span id="dtl-cap"></span></p>
              </div>
              <div class="dtl-info-sec2">
                <p>Top Level Domain: <span id="dtl-tld"> </span></p>
                <p>Currencies: <span id="dtl-currencies"></span></p>
                <p>Languages: <span id="dtl-languages">Languages</span></p>
              </div>
            </div>
            <div class="border-countries">
              <p>Border Countries:</p>

              <div id="border-countries-btn1"></div>
              <div id="border-countries-btn2"></div>
              <div id="border-countries-btn3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./app.js" crossorigin="anonymous"></script>
  </body>
</html>
