<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Countries</title>
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <div id="navbar">
      <h4>Where in the World?</h4>

      <button id="theme"><i class="fa-regular fa-moon"></i> Dark Mode</button>
    </div>
    <div class="container">
      <!-- body section -->
      <div class="filter-search">
        <input type="text" id="search" placeholder="Search for a country..." />
        <select name="region" id="filter" aria-placeholder="Select Region">
          <option>Filter by Region</option>
          <option value="Africa">Africa</option>
          <option value="Americas">America</option>
          <option value="Asia">Asia</option>
          <option value="Europe">Europe</option>
          <option value="Oceania">Oceania</option>
        </select>
      </div>
      <div class="row">
        <div class="country-card">
          <img class="flag" id="flag1" />

          <div class="country-info">
            <h3 id="country-name1"></h3>
            <p>Population: <span id="pop1"></span></p>
            <p>Region: <span id="reg1"></span></p>
            <p>Capital: <span id="cap1"></span></p>
          </div>
        </div>
        <div class="country-card">
          <img class="flag" id="flag2" />

          <div class="country-info">
            <h3 id="country-name2"></h3>
            <p>Population: <span id="pop2"></span></p>
            <p>Region: <span id="reg2"></span></p>
            <p>Capital: <span id="cap2"></span></p>
          </div>
        </div>
        <div class="country-card">
          <img class="flag" id="flag3" />

          <div class="country-info">
            <h3 id="country-name3"></h3>
            <p>Population: <span id="pop3"></span></p>
            <p>Region: <span id="reg3"></span></p>
            <p>Capital: <span id="cap3"></span></p>
          </div>
        </div>
        <div class="country-card">
          <img class="flag" id="flag4" />

          <div class="country-info">
            <h3 id="country-name4"></h3>
            <p>Population: <span id="pop4"></span></p>
            <p>Region: <span id="reg4"></span></p>
            <p>Capital: <span id="cap4"></span></p>
          </div>
        </div>
      </div>
      <div class="row2">
        <div class="country-card">
          <img class="flag" id="flag5" />

          <div class="country-info">
            <h3 id="country-name5"></h3>
            <p>Population: <span id="pop5"></span></p>
            <p>Region: <span id="reg5"></span></p>
            <p>Capital: <span id="cap5"></span></p>
          </div>
        </div>
        <div class="country-card">
          <img class="flag" id="flag6" />

          <div class="country-info">
            <h3 id="country-name6"></h3>
            <p>Population: <span id="pop6"></span></p>
            <p>Region: <span id="reg6"></span></p>
            <p>Capital: <span id="cap6"></span></p>
          </div>
        </div>
        <div class="country-card">
          <img class="flag" id="flag7" />

          <div class="country-info">
            <h3 id="country-name7"></h3>
            <p>Population: <span id="pop7"></span></p>
            <p>Region: <span id="reg7"></span></p>
            <p>Capital: <span id="cap7"></span></p>
          </div>
        </div>
        <div class="country-card">
          <img class="flag" id="flag8" />

          <div class="country-info">
            <h3 id="country-name8"></h3>
            <p>Population: <span id="pop8"></span></p>
            <p>Region: <span id="reg8"></span></p>
            <p>Capital: <span id="cap8"></span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="./app.js" crossorigin="anonymous"></script>
  </body>
</html>
